@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<blockquote>
    “Consider your origins: you were not made<br>
    to live as brutes, but to follow virtue and knowledge.”
</blockquote>
<p>— Dante, *The Divine Comedy*</p>

<h3>@Model.Message</h3>

<a href="https://github.com/maacpiash/Dante">View on Github</a>
