@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<blockquote>
    “Consider your origins: you were not made<br>
    to live as brutes, but to follow virtue and knowledge.”
</blockquote>
— Dante, <i>The Divine Comedy</i>

<h1 align="center">Dante</h1>
<h3 align="center">@Model.Message</h3>
<br>


<p>View this project <a href="https://github.com/maacpiash/Dante">on Github</a></p>

<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fgithub.com%2Fmaacpiash%2FDante%2F&layout=button_count&size=small&mobile_iframe=true&width=88&height=20&appId" width="88" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<a href="https://twitter.com/intent/tweet?screen_name=maacpiash&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">@Model.Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>